<app-nav></app-nav>
<div class="services">
    <div class="header">
        <div class="title">
            <h1>Welcome to Housing Society Management</h1>
        </div>

    </div>

    <hr>

    <section class="categories">

        <div
            class="category-item"
            style="
                background-image: url('https://images1.apartments.com/i2/WXJOjbrUeB9U4DY8leQTg7HsC9FtP6oO9ExmGIl-xqY/111/sugar-house-apartments-by-urbana-salt-lake-city-ut-primary-photo.jpg?p=1');
            "
        >

        </div>



    </section>

    <hr>

    <h2 class="featured-products-title">
        Our Services !
    </h2>
    <section class="featured-products">
        <div class="featured-product-item">
            <div
                style="background-image: url('https://media.istockphoto.com/vectors/notice-paper-with-push-pin-icon-in-trendy-flat-design-vector-id1219927783?k=20&m=1219927783&s=612x612&w=0&h=DJ9N_kyvpqh11qHOcD0EZVbM0NeBNC_08oViRjo7G7c=');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Notice Board
            </p>
            <p class="description">
                View Society Announcements
            </p>
            <!-- <p class="price">
                Announcements
            </p> -->
            <button (click)="gotomenu()">Access</button>

        </div> 
        <div class="featured-product-item">
            <div
                style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQtDIbKMYZkP0L152Ht1Nizgu5AFxCwo7xA&usqp=CAU');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Daily Help
            </p>
            <p class="description">
                Find daily helps and service providers
            </p>
            <!-- <p class="price">
                Starting at Rs.150
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>


        </div>
        <div class="featured-product-item">
            <div
                style="background-image: url('https://cdn1.vectorstock.com/i/thumb-large/69/10/document-rgb-color-icon-vector-39016910.jpg');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Help Desk
            </p>
            <p class="description">
                Raise Complaints and Service requests
            </p>
            <!-- <p class="price">
                Starting at Rs.500
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>

        </div>
        <div class="featured-product-item">
            <div
                style="background-image: url('https://static.vecteezy.com/system/resources/previews/002/363/292/original/emergency-icon-free-vector.jpg');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Emergency Numbers
            </p>
            <p class="description">
                Emergency Contacts for your Society
            </p>
            <!-- <p class="price">
                Starting at Rs.300
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>

        </div>
        <div class="featured-product-item">
            <div
                style="background-image: url('https://static.vecteezy.com/system/resources/previews/004/726/033/original/tenants-house-residents-line-icon-on-white-vector.jpg');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Residents
            </p>
            <p class="description">
                View Society Residents and Management Committee
            </p>
            <!-- <p class="price">
                Starting at Rs.120
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>

        </div>
        <div class="featured-product-item">
            <div
                style="background-image: url('https://thumbs.dreamstime.com/b/amenities-icon-simple-element-amenities-icon-simple-element-illustration-amenities-concept-symbol-design-can-be-used-web-158196706.jpg');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Amenities
            </p>
            <p class="description">
                Facilities in your Society
            </p>
            <!-- <p class="price">
                Starting at Rs.200
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>

        </div> 
        <div class="featured-product-item">
            <div
                style="background-image: url('https://images.squarespace-cdn.com/content/v1/5f80808466835b2116e08fbf/1602447165209-RM99B4KJO1TH0GAHNLMQ/covid+icon+3.png');"
                class="featured-product-item-image"
            ></div>
            <p class="title">
                Covid Protect
            </p>
            <p class="description">
                Quarantine Information and Vaccination Status
            </p>
            <!-- <p class="price">
                Starting at Rs.200
            </p> -->
            <button (click)="gotomenu()">ACCESS</button>

        </div> 

    </section>
</div>